html, body {
  margin: 0;
  max-width: 100%;
  height: 100%;
  background: $color-bg;
}

a, a:visited {
  color: $color-lightest;
}

ul {
  margin-left: 50px;
  margin-bottom: 10px;
  list-style: none;
  list-style-type: none;
  text-align: left;

  li {
    padding: 0 0 12px 20px !important;
    position: relative;

    &:before {
      content: "■";
      font-family: "Arial Black", Arial;
      color: $color-main;
      position: absolute;
      left: 1px;
      top: -6px;
    }
  }
}

#map {
  width: 100%;
  height: 220px;
}
