.btn, .btn:visited {
  max-width: 240px;
  margin: 20px auto;
  padding: 10px 20px;
  display: block;
  position: relative;
  cursor: pointer;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
  outline: none;
  border: none;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  @include btn-colors($color-main);
}
.btn:before,
.btn:after {
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  width: 24px;
  position: absolute;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}
.btn:before {
  border-left-width: 2px;
  border-top-width: 2px;
  left: -5px;
  top: -5px;
}
.btn:after {
  border-bottom-width: 2px;
  border-right-width: 2px;
  bottom: -5px;
  right: -5px;
}
.btn:hover,
.btn.hover {
  @include btn-colors($color-light);
}
.btn:hover:before,
.btn.hover:before,
.btn:hover:after,
.btn.hover:after {
  height: 100%;
  width: 100%;
}


.social .btn {
  width: 60px;
  height: 60px;
  line-height: 40px;
  vertical-align: middle;
  margin: 16px 8px 16px 16px;
  padding: 0;
  display: inline-block;
  box-sizing: border-box;
  @include btn-colors($color-bg);

  i {
    font-size: 2em;
    line-height: 60px;
    vertical-align: middle;
  }

  &.fb:hover {
    @include btn-colors(#3b5998);
  }
  &.tw:hover {
    @include btn-colors(#00aced);
  }
  &.in:hover {
    @include btn-colors(#833ab4);
  }
  &.pi:hover {
    @include btn-colors(#bd081c);
  }
  &.vi:hover {
    @include btn-colors(#1ab7ea);
  }

}
