@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cfy9mi');
  src:  url('fonts/icomoon.eot?cfy9mi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cfy9mi') format('truetype'),
    url('fonts/icomoon.woff?cfy9mi') format('woff'),
    url('fonts/icomoon.svg?cfy9mi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tw:before {
  content: "\f099";
}
.icon-fb:before {
  content: "\f09a";
}
.icon-in:before {
  content: "\f16d";
}
.icon-pi:before {
  content: "\f231";
}
.icon-vi:before {
  content: "\f27d";
}

