.gallery {
  width: 100%;
  padding: 0;
  margin: 36px 0 64px;
  position: relative;
  box-sizing: border-box;
}
.pic {
  width: 24%;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}
.pic img {
  width: 83%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 3px;
  border: 2px solid $color-main;
}
