@media (max-width: $breakpoint-large) {
  .box ul {
    margin-left: 0;
  }
  .wrap .container {
    @include flex-align(left);
    .section {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 33.33%;
      &:nth-of-type(4) {
        display: none;
      }
      .cont_desc {
        width: 16vw;
      }
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .wrap .container .section {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
    &:nth-of-type(3) {
      display: none;
    }
    .cont_title {
      h1 { font-size: 6vw; }
      h3 { font-size: 2.5vw; }
    }
    .cont_desc {
      width: 22vw;
      opacity: 0.9;
      transform: scale(1.2);
    }
  }
  .box ul {
    margin-left: 20px;
    margin-bottom: 30px;
  }
  .info h4 {
    margin-bottom: 24px;
    &:after {
      margin: 20px auto 0;
    }
  }
  .wrap .info .box-half {
    width: 100%;
    display: block;
  }
  .gallery .pic {
    width: 49%;
    margin-bottom: 24px;
    img {
      width: 88%;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .wrap .container .section {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    &:nth-of-type(2) {
      display: none;
    }
    .cont_title {
      h1 { font-size: 14vw; }
      h3 { font-size: 6vw; }
    }
    .cont_desc {
      width: 42vw;
      transform: scale(1.5);
    }
  }
  .box ul {
    margin-left: 0;
    padding-left: 0;
  }
  .box .social {
    max-width: 240px;
    margin: 0 auto;
  }
}
