.wrap {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: $font-main;
}
.gray {
  background: #333;
}
.white {
  background: #eaeaea;
  .info {
    color: #222;
  }
}
.container, .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  @include flex-align(center);
}
.info {
  min-height: 400px;
  color: #fff;
  .box {
    width: 100%;
    max-width: 1440px;
    padding: 30px 16px 46px;
    box-sizing: border-box;
    text-align: center;
  }
  .box-half {
    width: 49%;
    display: inline-block;
    max-width: 720px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1 {
    margin: 20px 0;
    font-size: 72px;
    font-family: $font-heading;
  }
  h2, h4 {
    margin-bottom: 32px;
    font-weight: 400;
    &:after {
      content: '';
      width: 64px;
      height: 1px;
      margin: 32px auto 0;
      display: block;
      position: relative;
      border-bottom: 3px solid $color-main;
    }
  }
  h4 {
    margin-top: 20px;
    font-size: 2em;
  }
}
.info p {
  line-height: 1.5em;
  margin-bottom: 20px;

  .btn {
    margin-top: 40px;
    line-height: 1.5em;
    font-size: 1.4em;
    letter-spacing: 0.5px;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  max-height: 880px;
  overflow: hidden;
}
.container:hover > .section {
  -webkit-filter: brightness(22%);
          filter: brightness(22%);
}
.container:hover > .section:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
.container .section {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  height: 100%;
  -webkit-transition: all .4s;
  transition: all .4s;
  box-sizing: border-box;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  @include flex-align(center);
}
.container .section .cont_title {
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 30vh;
}
.container .section .cont_title h1 {
  text-transform: uppercase;
  color: white;
  font-family: $font-heading;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.9);
  font-size: 4vw;
  margin: 0;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
  vertical-align: middle;
}
.container .section .cont_title h3 {
  text-transform: uppercase;
  font-family: $font-heading;
  font-size: 1.3vw;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  letter-spacing: 3px;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.9);
}
.container .section .cont_desc {
  position: relative;
  display: block;
  text-align: center;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
  width: 12vw;
  height: auto;
  margin: auto;
  opacity: 0;
  -webkit-transition: opacity 0.8s, padding-top 0.9s, -webkit-transform 0.7s;
  transition: opacity 0.8s, padding-top 0.9s, -webkit-transform 0.7s;
  transition: opacity 0.8s, transform 0.7s, padding-top 0.9s;
  transition: opacity 0.8s, transform 0.7s, padding-top 0.9s, -webkit-transform 0.7s;
  padding-top: 7vh;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.container .section .cont_desc p {
  margin: 20px 0 0;
  padding: 6px 6px 8px;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5);
}
.container .section:hover {
  -webkit-box-flex: 1.8;
  -webkit-flex-grow: 1.8;
      -ms-flex-positive: 1.8;
          flex-grow: 1.8;
  -webkit-transition: -webkit-box-flex 0.2s, -webkit-flex 0.2s;
  transition: -webkit-box-flex 0.2s, -webkit-flex 0.2s;
  transition: flex 0.2s;
  transition: flex 0.2s, -webkit-box-flex 0.2s, -webkit-flex 0.2s, -ms-flex 0.2s;
}
.container .section:hover > .cont_title h1 {
  font-size: 5.3vw;
  -webkit-transition: font-size 0.4s;
  transition: font-size 0.4s;
}
.container .section:hover > .cont_title h3 {
  font-size: 1.6vw;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.container .section:hover > .cont_desc {
  opacity: 1;
  padding-top: 3vh;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: opacity 0.7s, padding-top 0.5s, -webkit-transform 0.1s;
  transition: opacity 0.7s, padding-top 0.5s, -webkit-transform 0.1s;
  transition: opacity 0.7s, padding-top 0.5s, transform 0.1s;
  transition: opacity 0.7s, padding-top 0.5s, transform 0.1s, -webkit-transform 0.1s;
  -webkit-transition-delay: 0s, 0.1s, 0s;
          transition-delay: 0s, 0.1s, 0s;
}
.container .section:nth-child(1) {
  background: url("../img/vendeta.jpg") center;
}
.container .section:nth-child(2) {
  background: url("../img/adventure-xc.jpg") center;
}
.container .section:nth-child(3) {
  background: url("../img/sport.jpg") center;
}
.container .section:nth-child(4) {
  background: url("../img/varadero.jpg") center;
}
.container .section:nth-child(5) {
  background: url("../img/strada.jpg") center;
}
