@mixin btn-colors($color) {
  background: $color;

  &:before, &:after {
    border-color: $color;
  }
}

@mixin flex-grow($value) {
  -webkit-box-flex: $value;
  -webkit-flex-grow: $value;
      -ms-flex-positive: $value;
          flex-grow: $value;
}

@mixin flex-align($value) {
  -webkit-box-align: $value;
  -webkit-align-items: $value;
      -ms-flex-align: $value;
          align-items: $value;
  -webkit-box-pack: $value;
  -webkit-justify-content: $value;
      -ms-flex-pack: $value;
          justify-content: $value;
}
