// Variables:
$color-bg: #191919;
$color-main: #B40500;
$color-light: #DA1812;
$color-lightest: #c83e3a;
$font-main: Helvetica, Arial, sans-serif;
$font-heading: 'Economica', Arial, sans-serif;

// Responsive breakpoints:
$breakpoint-large: 1000px;
$breakpoint-medium: 820px;
$breakpoint-small: 440px;

// Imports:
@import "utils";
@import "base";
@import "sections";
@import "buttons";
@import "gallery";
@import "responsive";
@import "fonts";
